@charset "UTF-8";

body {
    background-color: #4e86ff;
    font: normal 16px Arial, Helvetica, Verdana, sans-serif;
    color: white;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #00000031;
    color: black;
    padding: 15px;
    max-width: 500px;
    margin: auto;
}

div {
    text-align: center;
    padding: 5px;
}

footer {
    text-align: center;
    font: italic 16px Arial, Helvetica, Verdana, sans-serif;
}