@charset "UTF-8";

body {
    background-color: #418af7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    min-width: 310px;
    max-width: 600px;
    margin: auto;
}

section select {
    width: 140px;
}


footer {
    text-align: center;
}