<!-- includes -> Imagina o head, essa parte geralmente não vai ser modificada para todos os códigos, eu posso pegar esses trechos de códigos e separar em arquivos menores, e incluir em todas as outras páginas: Contato, Login, Sobre, várias páginas e precisaria copiar para todas elas. 
Então poderiamos pegar o head, porque ele não vai mudar, o title normalmente muda, mas poderiamos incluir uma variável lá no locals, ou então enviar um título para todas as páginas -->

<%- include('includes/head') %> <!-- colocamos a palavra include, e incluimos o arquivo dentro de includes, chamado head -->

    <section class="container">
        <h1>
            <%# numeros.forEach(num => { %>
                <%#= num %><!-- <br> -->
            <%# }); %>

            <%# for(let i = 0; i < numeros.length; i++) { %>
                <%#= numeros[i] %><!-- <br> -->
            <%# }; %>
            
            <%= umaVariavelLocal %>
        </h1>

        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

<%- include('includes/footer') %>
