@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    transition-duration: 0.5s;
}

header {
    text-align: center;
}

section {
    background-color: white;
    min-width: 310px;
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.075);
}

section > div {
    color: black;
}

input.padrao {
    background-color: white;
    color: black;
    width: 80px;
    height: 25px;
    border: 1.2px solid black;
    border-radius: 5px;
}

input.padrao:hover {
    color: white;
    background-color: #c2c2c2;
    transition-duration: 0.6s;
    border: none;
}

input.padrao:active {
    color: black;
    background-color: #bbc9f1;
}

input.escuro {
    background-color: #555555;
    color: white;
    width: 80px;
    height: 25px;
    border: 1.2px solid white;
    border-radius: 5px;
}

input.escuro:hover {
    color: black;
    background-color: #c2c2c2;
    border: 1.2px solid black;
    transition-duration: 0.6s;
}

input.escuro:active {
    color: black;
    background-color: #bbc9f1;
}

input#txtnum:focus {
    background-color: rgb(233, 233, 233);
}

.botao {
    background-color: rgb(235, 235, 235);
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2.5px;
}

.botao:hover {
    background-color: #dfdfdf;
}

.botao:active {
    background-color: #bbc9f1;
}

footer {
    text-align: center;
    font-style: italic;
}