@charset "UTF-8";

body {
    background-color: #4e596b; 
    color: white;
    font: normal 16px Arial, Helvetica, Verdana, sans-serif;
    text-align: center;
}

section {
    padding: 40px;
}

section { 
    background-color: #4e596b; 
    padding: 40px; } 

div a { 
    border-radius: 5px;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    margin: 0px 5px;
} 
div a.works { 
    background-color: #4e596b; 
    border: 1px solid white; 
    border-radius: 5px; 
} 