@charset "UTF-8";

body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    background-color: rgb(0, 119, 255);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    min-width: 310px;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.233);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}