@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f0f0f0;
}

.titulo {
    color: blueviolet;
    font: normal 2.3em Arial, Helvetica, Verdana, sans-serif;
    text-align: center;
}

.subtitulo {
    color: rgb(100, 27, 168);
    font: normal 1em Arial, Helvetica, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: none;
}

.campo {
    padding: 10px;
}

.campo label {
    text-align: left;
}

span {
    color: rgb(253, 54, 28);
}