@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    font: normal 16px Arial, Helvetica, Verdana, sans-serif;
    text-align: center;
}

section {
    background-color: #9054ff;
    padding: 40px;
}

div a {
    color: white;
    background-color: #00e1ff;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 35px;
    margin: 0px 10px;
}

div a:hover {
    background-color: #9054ff;
}

div

div a.video {
    background-color: #9054ff;
    border: 1px solid white;
}