@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #a7a7a7;
    font: normal 16px Arial, Helvetica, Verdana, sans-serif;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #0000002c;
    padding: 20px;
    min-width: 310px;
    max-width: 1000px;
    margin: auto;
}

section p {
    margin: 15px 0px;
    line-height: 25px;
    text-align: justify;
}

section input {
    padding: 5px;
}

section input.verificador {
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.521);
    transition-duration: 0.5s;
    padding: 6px;
}

section input.verificador:hover {
    color: #1639ff;
    background-color: #c9d3ff;
}

section input.verificador:active {
    background-color: #9bb3ff;
}