@charset "UTF-8";

body {
    background-color: #d4d4d4;
    font: normal 16px Arial, Helvetica, Verdana, sans-serif;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #0000002f;
    padding: 20px;
}

section input {
    padding: 5px;
}

section input.botao {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #00000094;
    padding: 6px;
    transition-duration: 0.5s;
}

section input.botao:hover {
    color: #0023af;
    background-color: #cbd5ff;
}

section input.botao:active {
    background-color: #90a6ff;
}